@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #2A3A5E;
    --accent: #D1D5DB;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2A3A5E;
    --accent: #4B5563;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-family: 'Inter', sans-serif;
  }
}

body {
    border: 10px solid red !important;
}